
#container {
    margin: auto;
    max-width: 1650px;
    margin-bottom: 50px;
}

.Mindy {
    position: relative;
}

.Danielle {
    position: relative;
}

.Kelly {
    position: relative;
}

.Cem {
    position: relative;
}

body {
    background-color: honeydew;
    font-family: 'Roboto Mono', monospace;
    border: 1px black;
}

h1 {
    font-size: 5em;
    line-height: 1em;
}


p1, p2, p3, p4 {
    font-size: 1.5em;
    line-height: 1.45em;
    max-width: 1500px;
    position: relative;
    margin: 100px;
}
